<div id="connexion" class="container-fluid pe-0 me-0 ps-0 ms-0">
  <div class="contenu1">
<img id="pictureleft" src="../../../assets/images/reso.jpeg">
  </div>
  <div class="contenu2">

    <div id="card-connect" class="card col-md-5 custom-card">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <img src="assets/images/logo.png" alt="Image de connexion" class="img-fluid mb-4">
        </div>
        <h4 class="card-title mb-4 text-center">Se connecter</h4>
        <form id="formconnect" (ngSubmit)="connexion()">
          <!-- Champ de saisie pour le nom d'utilisateur -->
          <div class="mb-3">
            <label for="username" class="card-text form-label">Nom d'utilisateur :</label>
            <input type="text" class="form-control" id="username" placeholder="Votre nom d'utilisateur" required name="pseudo" [(ngModel)]="this.user.pseudo">
          </div>
  
          <!-- Bouton de connexion -->
          <button id="buttonconnexion" type="submit" class="btn-connexion btn btn-primary">Connexion</button>
        </form>
      </div>
    </div>



  </div>
  
</div>