.bi {
  font-size: 2rem;
}
.bi.bi-pencil{
  font-size: 1.5rem;
  
}
#editCanal{
  color: #49D9A2;;
}
button {
  background: transparent;
  border: transparent;
  color: red;
  cursor: pointer;
}
.nom_canal:hover {
  cursor: pointer;
}
#hoversider:hover{
background-color: #fff;
padding: 0.25rem;
color:#112867;
}
