.bi {
  font-size: 2rem;
}
button {
  background: transparent;
  border: transparent;
  color: red;
  cursor: pointer;
}
.nom_canal:hover {
  cursor: pointer;
}
#hoversider:hover{
background-color: #fff;
padding: 0.25rem;
color:#112867;
}
