.message-container {
  max-height: 700px;
  overflow-y: auto;
}
.dropdown-toggle{
  color: white;
  background-color: transparent;
  border: none;
}
.ligne_message:hover{
  background-color: #848da0;
}