
<nav class="navblock navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <!-- Logo à gauche -->
        <img src="assets/images/logo.png" alt="Logo CRM" width="100" height="80">
  
      <!-- Barre de recherche au centre -->
      <form class="d-flex mx-auto">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Rechercher..." aria-label="Search">
          <button id="searchbutton" class="btn" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
  
  
      <!-- Informations sur l'utilisateur à droite -->
      <div class="d-flex align-items-center">
      <button *ngIf="this.getIdUtilisateur === 0" type="button" (click)="desactiverUser()">
        <i class="bi bi-x"></i>
      </button>
        
        <button *ngIf="this.getIdUtilisateur === 0" type="button" (click)="clickGetIdUtilisateur()">
          <i class="bi bi-pencil"></i>
        </button>
    
        <input *ngIf="this.getIdUtilisateur !== 0" type="text" [(ngModel)]="this.data.user.pseudo"/>
        <button *ngIf="this.getIdUtilisateur !== 0" type="button" (click)="editUser()">Enregistrer</button>
        <button *ngIf="this.getIdUtilisateur !== 0" type="button" (click)="annulerUser()">Annuler</button>

        <span class="me-2">{{this.data.user.pseudo}}</span>
        <i class="bi bi-person-circle fs-3 me-4"></i>
        <i class="btn_deco bi bi-box-arrow-right" (click)="refreshPage()"></i>
      </div>
    </div>
  </nav>
