.navblock {
  color: #112564;
  background-color: lightblue;
}
.btn_deco:hover {
  cursor: pointer;
  color: #f22e2e;
}
.btn_deco {
  color: #f22e2e;    
  font-size: 28px;

}
#searchbutton{
  background-color: #49DAA2;
}